html,
body {
  background-color: silver;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-card {
  width: 50vw;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
}
.main-title {
  font-size: 1.5em;
}
.main-links {
  a {
    color: black;
    padding: 0 10px;
    border-radius: 3px;
    &.nuxt-link-exact-active {
      background-color: rgba(0,0,0,0.4);
      color: white;
    }
  }
}
.cursor-pointer {
    cursor: pointer;
}
.bold {
  font-weight: bold;
}
